extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='weapon') Weapon:
      select#weapon.form-control(type='select' placeholder='Select weapon' name='weapon' required='true')
        - weapons.sort(function(a, b) {a.name - b.name});
        for weapon in weapons
          option(value=weapon._id, selected=(selected_weapon==weapon._id.toString() ? 'selected' : false) ) #{weapon.name}

    div.form-group
      label(for='nickname') Nickname:
      input#nickname.form-control(type='text' placeholder='The Destroyer' name='nickname' required='true' value=(undefined===weaponinstance ? '' : weaponinstance.nickname))

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg